html, body {
	height: 100%;
}

body {
	display: flex;
	flex-direction: column;
	color: #8d8d8d;
	font-size: 16px;
	line-height: 1.5;
	@extend %quicksand-500;
}

.main {
	flex-grow: 1;
}

.container {
	max-width: 1200px;
	padding: 0 15px;
	margin: 0 auto;
}

a {
	color: #8d8d8d;
	font-size: 16px;
	line-height: 1.5;
	@extend %quicksand-500;
	font-style: normal;
}

